body {
    background-color: lightblue;
    text-align: center;
  }
  
main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

img {
    width: 400px;
    height: 500px;
}

h1 {
    text-align: center;
    color: cornflowerblue;
}


#homePhoto, #error404Picture {
    max-width: 100%;
    max-height: 100%;
}

button {
    width: 10rem
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}
